[data.cpu]
    cores = {{ $cpuCores }}
    threads = {{ $cpuThreads }}

[data.dopplerProjectJson]
    dopplerProjectJson = { command = "doppler", args = ["secrets", "download", "--no-file", "--format", "json"], format = "json" }

