{{/* chezmoi:template:missing-key=zero */}}
[user]
    name = {{ .machine.gitUser | default "Yuri Barsotti Mendes" }}
    email = {{ .machine.email | default "yuribarsotti@gmail.com" }}
    username = ybarsotti
{{- $gpgKeyId := "" }}
{{- if lookPath "gpg" }}
{{-   $gpgOutput := output "sh" "-c" (printf "gpg --list-secret-keys --keyid-format LONG '%s' 2>/dev/null | grep sec | head -1 | cut -d'/' -f2 | cut -d' ' -f1 || true" (.machine.email | default "yuribarsotti@gmail.com")) }}
{{-   $gpgKeyId = $gpgOutput | trim }}
{{- end }}
{{- if $gpgKeyId }}
    signingkey = {{ $gpgKeyId }}
{{- end }}

[init]
    defaultBranch = main

[core]
    editor = nvim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    pager = delta
    excludesfile = ~/.gitignore_global
    trustctime = false
    untrackedCache = true

[fetch]
    prune = true

[pull]
    rebase = true

[web]
    browser = firefox

[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto

[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold

[commit]
    gpgsign = true
    template = ~/.gitmessage.txt

[delta]
    features = line-numbers decorations catppuccin-mocha
    line-numbers = true

[help]
    autocorrect = 1

[credential]
    helper = osxkeychain

[safe]
    directory = /var/task

[difftool]
    prompt = false
    keepBackup = false
    trustExitCode = false

[merge]
    conflictstyle = diff3
    tool = p4merge

[mergetool]
    prompt = false
    keepBackup = false

[mergetool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[mergetool "p4merge"]
    cmd = /Applications/p4merge.app/Contents/MacOS/p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    trustExitCode = false

[difftool "p4merge"]
    cmd = /Applications/p4merge.app/Contents/MacOS/p4merge "$LOCAL" "$REMOTE"

[diff]
    algorithm = histogram
    colorMoved = default

[push]
    default = current
    autoSetupRemote = true
    followTags = true

[rerere]
    enabled = true

[rebase]
    autoStash = true
    autoSquash = true

[alias]
    # Status & Info
    s = status -sb
    st = status

    # Branch Management
    br = branch
    bra = branch -a
    brd = branch -d
    brD = branch -D

    # Checkout & Switch
    co = checkout
    cob = checkout -b
    sw = switch
    swc = switch -c

    # Commit
    c = commit
    cm = commit -m
    ca = commit --amend
    can = commit --amend --no-edit

    # Add
    a = add
    aa = add --all
    ap = add --patch

    # Diff
    d = diff
    ds = diff --staged
    dt = difftool

    # Log & History
    l = log --oneline --decorate --graph
    la = log --oneline --decorate --graph --all
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
    last = log -1 HEAD --stat

    # Fetch & Pull
    f = fetch
    fa = fetch --all
    p = pull
    pr = pull --rebase

    # Push
    ps = push
    psf = push --force-with-lease
    psu = push -u origin HEAD

    # Stash
    sh = stash
    shp = stash pop
    shl = stash list
    shd = stash drop

    # Remote
    r = remote
    rv = remote -v

    # Reset
    unstage = reset HEAD --
    undo = reset --soft HEAD^

    # Clean
    clean-branches = "!git branch --merged | grep -v '\\*\\|main\\|master\\|develop' | xargs -n 1 git branch -d"

    # Show
    show-files = show --pretty="" --name-only

    # Worktree
    wt = worktree
    wta = worktree add
    wtl = worktree list
    wtr = worktree remove

    # Maintenance
    optimize = "!git gc --aggressive && git prune && git repack -a -d -f --depth=250 --window=250"

[maintenance]
    auto = true
    strategy = incremental

[include]
    path = .config/git/delta/themes/catppuccin.gitconfig
