{{/* chezmoi:template:missing-key=zero */}}
[user]
    name = {{ .machine.gitUser | default "Yuri Barsotti Mendes" }}
    email = {{ .machine.email | default "yuribarsotti@gmail.com" }}
    username = ybarsotti
{{- $gpgKeyId := "" }}
{{- if lookPath "gpg" }}
{{-   $gpgOutput := output "sh" "-c" (printf "gpg --list-secret-keys --keyid-format LONG '%s' 2>/dev/null | grep sec | head -1 | cut -d'/' -f2 | cut -d' ' -f1 || true" (.machine.email | default "yuribarsotti@gmail.com")) }}
{{-   $gpgKeyId = $gpgOutput | trim }}
{{- end }}
{{- if $gpgKeyId }}
    signingkey = {{ $gpgKeyId }}
{{- end }}

[init]
    defaultBranch = main

[core]
    editor = nvim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    pager = delta
    excludesfile = ~/.gitignore
    trustctime = false
    untrackedCache = true

[fetch]
    prune = true

[pull]
    rebase = true

[web]
    browser = firefox

[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto

[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold

[commit]
    gpgsign = true
    template = ~/.gitmessage.txt

[delta]
    features = line-numbers decorations catppuccin-mocha
    line-numbers = true

[help]
    autocorrect = 1

[credential]
    helper = osxkeychain

[safe]
    directory = /var/task

[difftool]
    prompt = false
    keepBackup = false
    trustExitCode = false

[merge]
    conflictstyle = diff3

[include]
    path = .config/git/delta/themes/catppuccin.gitconfig
