{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Install mise tools after mise is installed
echo "Setting up mise tools..."

# Install languages defined in mise config
mise install

# Install lua plugins as requested
mise plugins add lua
mise use -g lua@5.1

echo "Mise setup completed!"
{{ end -}}